@import url(http://fonts.googleapis.com/css?family=Aldrich);
@import url(http://fonts.googleapis.com/css?family=Londrina+Outline);
@import url(http://fonts.googleapis.com/css?family=Nosifer);

body {
  background-image: url("../images/.gif");
  background-size: cover;


}

h1 {
  color: white;
  font-family: 'Aldrich', sans-serif;
  margin-left: 38%;


}

li:nth-child(2n) {
  color: red;
}

h4 {

  border-radius: 5%;
font-family: 'Aldrich', sans-serif;
letter-spacing: 2px;
color: white;
margin-left: 42%;

}

li {
  color: blue;
  font-family: 'Nosifer', cursive;
  border-radius: 25%;
  float: left;
  background-color: white;
  margin: 15px;
  padding: 10px;
  position: center;
  list-style: none;

}

ul {
  margin-left: 25%;
